body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    min-height: 100vh;
    margin: 0;
}

#output {
    background: black;
}

#progress-indicator {
    display: flex;
    align-items: center;
    gap: 16px;
    font-family: Menlo, Consolas;
}
